# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  # - osx
julia:
  - 1.2
  - nightly
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
notifications:
  email: false

# Do not build my PR twice.  Use the build on branch.
if: NOT (type == pull_request AND head_repo == tkf/ChainCutters.jl)

before_install:
  - unset JULIA_PROJECT
  - julia -e 'using Pkg; pkg"add https://github.com/tkf/Run.jl#dev"'
install:
  - julia -e 'using Run; Run.prepare_test()'
script:
  - julia -e 'using Run; Run.test()'
after_success:
  - julia -e 'using Run; Run.after_success_test()'

jobs:
  include:
    - name: "Zygote 0.3"
      os: linux
      install:
        - julia -e 'using Run; Run.prepare("test/environments/Zygote-0.3")'
      script:
        - julia -e 'using Run; Run.test(project="test/environments/Zygote-0.3")'
    - name: "Benchmark"
      julia: 1.2
      os: linux
      before_script:
        - git fetch origin '+refs/heads/master:refs/remotes/origin/master'
        - git branch master origin/master
        # Run benchmark outside `script` so that it's hidden by default:
        - julia -e 'using Run; Run.script("benchmark/runjudge.jl")'
      script:
        - julia -e 'using Run; Run.script("benchmark/pprintjudge.jl")'
      after_success: skip
      if: NOT (branch = master)
